.navbar a {
  text-decoration: none;
  color: #fff;
  margin-right: 25px;
}

.navbar a:hover {
  border-bottom:3px solid white ;
 
}
.navbar a:last-child {
  border-bottom:none;
 
}

.displayName {
  color: yellow;
  font-style: italic;
  margin-right: 5px;
}
