.data-cart {
  text-align: center;
  box-shadow: 0px 10px 14px rgb(0 0 0);
  transition: 1s;
  background-color: #22174b;
  color: #fff;
}

.data-cart:hover {
  box-shadow: 10px 10px 30px rgb(2, 0, 97);
  transition-duration: 1s;
  transform: scale(101%);
}

.card-img {
  overflow: hidden;
}
.card-img img {
  transition: 1s;
}
.card-img img:hover {
  transform: scale(200%);
}
